h1 {
  font-size: 150%;
}

/* blocks section */
#block-wrap {
  padding: 50px;
  border-radius: 40px;
  align-items: center;
}

/* about us section */
#info-wrapper {
  padding: 50px;
  border-radius: 40px;
  align-items: center;
}

@media screen and (max-width: 500px) {
  #info-wrapper {
    padding: 40px;
  }
}

@media screen and (max-width: 320px) {
  #info-wrapper {
    padding: 20px;
  }
}

/* team section */
#team-wrapper h2 {
  text-align: center;
}

#team-wrapper p {
  text-align: center;
}

#team-wrapper {
  padding: 50px;
  border-radius: 40px;
}

@media screen and (max-width: 500px) {
  #team-wrapper {
    padding: 40px;
  }
}

@media screen and (max-width: 320px) {
  #team-wrapper {
    padding: 20px;
  }
}
